

{% extends "base.html" %}

{% block titulo %} CERTIFICADOS  {% endblock %}

{% load static %}

{% block contenido %}


<div class="d-flex justify-content-center my-5">
    <form class="card" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label" for="nit">NIT:</label>
            <input type="text" class="form-control" name="nit">
        </div>
        <div class="mb-3">
            <label class="form-label" for="anio">Año:</label>
            <select class="form-select" name="anio">
                <option class="bg-success text-white" value="2021">2021</option>
                <option class="bg-success text-white" value="2022">2022</option>
                <option class="bg-success text-white" value="2023">2023</option>
                <option class="bg-success text-white" value="2024">2024</option>
                <option class="bg-success text-white" value="2025">2025</option>
                <option class="bg-success text-white" value="2026">2026</option>
                <option class="bg-success text-white" value="2027">2027</option>
                <option class="bg-success text-white" value="2028">2028</option>
                <option class="bg-success text-white" value="2029">2029</option>
                <option class="bg-success text-white" value="2030">2030</option>
            </select>
        </div>
        <div>
            <button class="btn btn-custom" type="submit">Descargar Certificado</button>
        </div>
    </form>
</div>


{% endblock %}