{% extends "base.html" %}

{% load static %}

{% block titulo %} REFERENCIAS  {% endblock %}

{% block contenido %}

    <!-- Page Header Start -->
    <div class="page-header container-fluid bg-primary d-flex flex-column align-items-center justify-content-center">
        <h1 class="display-3 text-uppercase mb-3">Referencias</h1>
        <div class="d-inline-flex text-white">
            <h6 class="text-uppercase m-0"><a class="text-white" href="{% url 'inicio'%}">Inicio</a></h6>
            <h6 class="m-0 px-3">/</h6>
            <h6 class="text-uppercase m-0">Referencias</h6>
        </div>
    </div>
    <!-- Page Header Start -->


    <!-- Navbar End -->

    <!-- Pricing Plan Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5">REFERENCIAS</h1>
            <div class="row">
                <div class="card portfolio-btn d-flex align-items-center justify-content-center " style="width: 15rem; margin: 0.5rem auto;">  
                    <a href="{% static 'img/ARCHIVO N°20 BASE TAPA REFORZARDA.png'%}" data-lightbox="portfolio1">
                        <i class="fa fa-4x fa-plus text-primary"></i>
                        </a>
                    <div class="bg-light rounded text-center pt-2 mt-lg-2 mb-1">
                        <h5 class="text-uppercase">Archivo N°20  base tapa reforzada</h5>
                        <h6 class="text-uppercase text-body mb-5">Medidas 40*30*26</h6>
                        <P>Precio</P>
                        <p>8.115</p>
                        <p>Mas IVA</p>
                        <a href="https://wa.me/573104420576?text=Hola me interesa su articulo Archivo N°20  base tapa reforzada Medidas 40X30X26" class="btn btn-dark text-uppercase py-2 px-4 my-3">Haz tu orden</a>
                    </div>
                </div>

                <div class=" card portfolio-btn d-flex align-items-center justify-content-center " style="width: 15rem; margin: 0.5rem auto;">  
                    <a href="{% static 'img/CAJAS ARCHIVO LETRAS NEGRAS.png'%}" data-lightbox="portfolio-2">
                        <i class="fa fa-4x fa-plus text-primary"></i>
                        </a>
                    <div class="bg-light rounded text-center pt-2 mt-lg-2 mb-1">
                        <h5 class="text-uppercase">Cajas archivo letras negras</h5>
                        <h6 class="text-uppercase text-body mb-5">Medidas 42*21*26</h6>
                        <P>Precios</P>
                        <p>5.877</p>
                        <p>Mas IVA</p>
                        <a href="https://wa.me/573104420576?text=Hola me interesa su articulo Cajas archivo letras negras Medidas 42*21*26" class="btn btn-dark text-uppercase py-2 px-4 my-3">Haz tu orden</a>

                    </div>
                </div>

                <div class=" card portfolio-btn d-flex align-items-center justify-content-center " style="width: 15rem; margin: 0.5rem auto;">  
                    <a href="{% static 'img/caja letras verdez.png'%}" data-lightbox="portfolio-3">
                        <i class="fa fa-4x fa-plus text-primary"></i>
                        </a>
                    <div class="bg-light rounded text-center pt-2 mt-lg-2 mb-1">
                        <h5 class="text-uppercase">Caja archivo letras verdes</h5>
                        <h6 class="text-uppercase text-body mb-5">Medidas 42*26*21</h6>
                        <P>Precios</P>
                        <p>4.617</p>
                        <p>Mas IVA</p>
                        <a href="https://wa.me/573104420576?text=Hola me interesa su articulo Caja archivo letras verdes Medidas 42*26*21" class="btn btn-dark text-uppercase py-2 px-4 my-3">Haz tu orden</a>

                    </div>
                </div>
            
                <div class=" card portfolio-btn d-flex align-items-center justify-content-center " style="width: 15rem; margin: 0.5rem auto;">  
                    <a href="{% static 'img/caja pizza.png'%}" data-lightbox="portfolio-4">
                        <i class="fa fa-4x fa-plus text-primary"></i>
                        </a>
                    <div class="bg-light rounded text-center pt-2 mt-lg-2 mb-1">
                        <h5 class="text-uppercase">Cajas para pizza</h5>
                        <h6 class="text-uppercase text-body mb-5">
                            <select name="medida[]" id="">
                                <option value="Caja pizza 21*21*5">Caja pizza 21*21*5</option>
                                <option value="Caja pizza 27*27*5">Caja pizza 27*27*5</option>
                                <option value="Caja pizza 30*30*5">Caja pizza 30*30*5</option>
                                <option value="Caja pizza 35*35*5">Caja pizza 35*35*5</option>
                                <option value="Caja pizza 35*35*8">Caja pizza 35*35*8</option>
                                <option value="Caja pizza 40*40*5">Caja pizza 40*40*5</option>
                            </select>
        
                        </h6>
                        <P>Precios</P>
                        <p>En Nuentra linea</p>
                        <p>De atencion</p>
                        <a href="https://wa.me/573104420576?text=Hola me interesa su articulo Caja Pizza  " 
                    
                        class="btn btn-dark text-uppercase py-2 px-4 my-3">Haz tu orden</a>

                    </div>
            
                </div>

                <div class=" card portfolio-btn d-flex align-items-center justify-content-center " style="width: 15rem; margin: 0.5rem auto;">  
                    <a href="{% static 'img/caja espejo.png'%}" data-lightbox="portfolio-5">
                        <i class="fa fa-4x fa-plus text-primary"></i>
                        </a>
                    <div class="bg-light rounded text-center pt-2 mt-lg-2 mb-1">
                        <h5 class="text-uppercase">Caja espejo</h5>
                        <h6 class="text-uppercase text-body mb-5">Medidas 13*4.5*32</h6>
                        <P>Precios</P>
                        <p>1.679</p>
                        <p>Mas IVA</p>
                        <a href="https://wa.me/573104420576?text=Hola me interesa su articulo Caja espejo Medidas 13*4.5*32" class="btn btn-dark text-uppercase py-2 px-4 my-3">Haz tu orden</a>
                        
                    </div>
                </div>


                <div class=" card portfolio-btn d-flex align-items-center justify-content-center " style="width: 15rem; margin: 0.5rem auto;">  
                    <a href="{% static 'img/CAJA MALETÍN 2 BOTELLAS.png'%}" data-lightbox="portfolio-6">
                        <i class="fa fa-4x fa-plus text-primary"></i>
                        </a>
                    <div class="bg-light rounded text-center pt-2 mt-lg-2 mb-1">
                        <h5 class="text-uppercase">Caja maletín 2 botella</h5>
                        <h6 class="text-uppercase text-body mb-5">Medidas 24.5*9*31</h6>
                        <P>Precios</P>
                        <p>1.690</p>
                        <p>Mas IVA</p>
                        <a href="" class="btn btn-dark text-uppercase py-2 px-4 my-3">Haz tu orden</a>
                    </div>
                </div>

                <div class=" card portfolio-btn d-flex align-items-center justify-content-center " style="width: 15rem; margin: 0.5rem auto;">  
                    <a href="{% static 'img/Maletin pequeño 1 botella.png'%}" data-lightbox="portfolio-7">
                        <i class="fa fa-4x fa-plus text-primary"></i>
                        </a>
                    <div class="bg-light rounded text-center pt-2 mt-lg-2 mb-1">
                        <h5 class="text-uppercase">Caja maletín 1 botella</h5>
                        <h6 class="text-uppercase text-body mb-5">Medidas 16*8.5*30.5</h6>
                        <P>Precios</P>
                        <p>1.377</p>
                        <p>Mas IVA</p>
                        <a href="https://wa.me/573104420576?text=Hola me interesa su articulo Caja maletín 1 botella Medidas 16*8.5*30.5" class="btn btn-dark text-uppercase py-2 px-4 my-3">Haz tu orden</a>

                    </div>
                </div>

                <div class=" card portfolio-btn d-flex align-items-center justify-content-center " style="width: 15rem; margin: 0.5rem auto;">  
                    <a href="{% static 'img/portfolio-5.jpg'%}" data-lightbox="portfolio-8">
                        <i class="fa fa-4x fa-plus text-primary"></i>
                        </a>
                    <div class="bg-light rounded text-center pt-2 mt-lg-2 mb-1">
                        <h5 class="text-uppercase">Caja Lonchera pequeña</h5>
                        <h6 class="text-uppercase text-body mb-5">Medidas 16*12*12</h6>
                        <P>Precios</P>
                        <p>1.240</p>
                        <p>Mas IVA</p> 
                        <a href="https://wa.me/573104420576?text=Hola me interesa su articulo Caja Lonchera pequeña Medidas 16*12*12" class="btn btn-dark text-uppercase py-2 px-4 my-3">Haz tu orden</a>

                    </div>
                </div>

                <div class=" card portfolio-btn d-flex align-items-center justify-content-center " style="width: 15rem; margin: 0.5rem auto;">  
                    <a href="{% static 'img/caja lonchera.png'%}" data-lightbox="portfolio-9">
                        <i class="fa fa-4x fa-plus text-primary"></i>
                        </a>
                    <div class="bg-light rounded text-center pt-2 mt-lg-2 mb-1">
                        <h5 class="text-uppercase">Caja Lonchera grande</h5>
                        <h6 class="text-uppercase text-body mb-5">Medidas 22*14*16</h6>
                        <P>Precios</P>
                        <p>1.627</p>
                        <p>Mas IVA</p>
                        <a href="https://wa.me/573104420576?text=Hola me interesa su articulo Caja Lonchera grande Medidas 22*14*16" class="btn btn-dark text-uppercase py-2 px-4 my-3">Haz tu orden</a>

                    </div>
                </div>

                <div class=" card portfolio-btn d-flex align-items-center justify-content-center " style="width: 15rem; margin: 0.5rem auto;">  
                    <a href="{% static 'img/portfolio-10.jpg'%}" data-lightbox="portfolio-10">
                        <i class="fa fa-4x fa-plus text-primary"></i>
                        </a>
                    <div class="bg-light rounded text-center pt-2 mt-lg-2 mb-1">
                        <h5 class="text-uppercase">Caja Cofre #3</h5>
                        <h6 class="text-uppercase text-body mb-5">Medidas 25.5*18*10</h6>
                        <P>Precios</P>
                        <p>1.879</p>
                        <p>Mas IVA</p>
                        <a href="https://wa.me/573104420576?text=Hola me interesa su articulo Caja Cofre #3 Medidas 25.5*18*10" class="btn btn-dark text-uppercase py-2 px-4 my-3">Haz tu orden</a>

                    </div>
                </div>

                <div class=" card portfolio-btn d-flex align-items-center justify-content-center " style="width: 15rem; margin: 0.5rem auto;">  
                    <a href="{% static 'img/portfolio-11.jpg'%}" data-lightbox="portfolio-11">
                        <i class="fa fa-4x fa-plus text-primary"></i>
                        </a>
                    <div class="bg-light rounded text-center pt-2 mt-lg-2 mb-1">
                        <h5 class="text-uppercase">Caja Cofre #2</h5>
                        <h6 class="text-uppercase text-body mb-5">Medidas 24*19*10</h6>
                        <P>Precios</P>
                        <p>1.377</p>
                        <p>Mas IVA </p>
                        <a href="https://wa.me/573104420576?text=Hola me interesa su articulo Caja Cofre #2 Medidas 24*19*10" class="btn btn-dark text-uppercase py-2 px-4 my-3">Haz tu orden</a>

                    </div>
                </div>

                <div class=" card portfolio-btn d-flex align-items-center justify-content-center " style="width: 15rem; margin: 0.5rem auto;">  
                    <a href="{% static 'img/portfolio-6.jpg'%}" data-lightbox="portfolio-12">
                        <i class="fa fa-4x fa-plus text-primary"></i>
                        </a>
                    <div class="bg-light rounded text-center pt-2 mt-lg-2 mb-1">
                        <h5 class="text-uppercase">Caja Cofre #1</h5>
                        <h6 class="text-uppercase text-body mb-5">Medidas 28*18*9</h6>
                        <P>Precios</P>
                        <p>1.389</p>
                        <p>Mas IVA</p>
                        <a href="https://wa.me/573104420576?text=Hola me interesa su articulo Caja Cofre #1 Medidas 28*18*9" class="btn btn-dark text-uppercase py-2 px-4 my-3">Haz tu orden</a>

                    </div>
                </div>

            </div>
        </div>
    </div>
        </div>
    <!-- Whatsapp icono -->
    <div class="whatsapp">
            <a href="https://wa.me/573104420576?text=hola buen día me interesan sus productos">
            <img src="{% static '/img/whatsapp.png'%}" class="img-fluid" alt=""></a>
    </div>        
    
    <!-- Pricing Plan End -->
  

{% endblock %}