{% extends "base.html" %}

{% load static %}

{% block titulo %} DE SEGUNDA  {% endblock %}

{% block contenido %}

<body>
    
<!-- Page Header Start -->
<div class="page-header container-fluid bg-primary d-flex flex-column align-items-center justify-content-center">
    <h1 class="display-3 text-uppercase mb-3">Cajas de Segunda </h1>
    
    <div class="d-inline-flex text-white">
        <h6 class="text-uppercase m-0"><a class="text-white" href="{% url 'inicio'%}">Inicio</a></h6>
        <h6 class="m-0 px-3">/</h6>
        <h6 class="text-uppercase m-0">Cajas de Segunda</h6>
    </div>
    <br>
    <p class="text-uppercase text-dark">Estas son algunas de las referencias de cajas de segunda que tenemos disponibles en nuestro inventario, contamos con muchas más referencias no dudes en cotizar</p>
   
</div>

<!-- Page Header Start -->


<!-- second box -->
<div class="card-wrap">


    <article class="card">
        <div class="header-card">
            <img src="{% static '/img/KP 420 copia.jpg'%}" alt="">
        </div>
        <div class="footer-card">
            <div class="categoria-card">
                <span>KP 420</span>
            </div>
            <div class="texto-card">
                <h3>Caja referencia KP 420.</h3>
                <p>Sus medidas son 71 CM de largo, 55 CM de ancho y 16 CM de alto </p>
                <P>Precios: 2.354 Mas IVA </P>
                
            </div>
            <div class="perfil-card">
               
                <div class="text-perfil-card">
                  
                    <a href="https://wa.me/573104420576?text=Hola me interesa su articulo Caja referencia KP 420" class="btn btn-dark text-uppercase py-2 px-4 my-3">Haz tu orden</a>
                    
                </div>

            </div>
        </div>
    </article>

    <article class="card">
        
        <div class="header-card">
            <img src="{% static 'img/Z005 copia.jpg'%}" alt="">     
        </div>
        <div class="footer-card">
            <div class="categoria-card">
                <span>Z 005</span>
            </div>
            <div class="texto-card">
                <h3>Caja referencia Z 005.</h3>
                <p>Sus medidas son 52 CM de largo, 36 CM de ancho y 18 CM de alto </p>
                <P>Precios: 1.926 Mas IVA </P>

            </div>
            <div class="perfil-card">
               
                <div class="text-perfil-card">
                    <a href="https://wa.me/573104420576?text=Hola me interesa su articulo Caja referencia Z 005" class="btn btn-dark text-uppercase py-2 px-4 my-3">Haz tu orden</a>
                </div>

            </div>
        </div>
    </article>

    <article class="card">
        <div class="header-card">
            <img src="{% static '/img/KP 120 copia.jpg'%}" alt="">
        </div>
        <div class="footer-card">
            <div class="categoria-card">
                <span>KP 120</span>
            </div>
            <div class="texto-card">
                <h3>Caja referencia KP 120 .</h3>
                <p>Sus medidas son 36 CM de largo, 28 CM de ancho y 16 CM de alto</p>
                <P>Precios: 1.284 Mas IVA </P>
            </div>
            <div class="perfil-card">
               
                <div class="text-perfil-card">
                   
                    <a href="https://wa.me/573104420576?text=Hola me interesa su articulo Caja referencia KP 120" class="btn btn-dark text-uppercase py-2 px-4 my-3">Haz tu orden</a>

                </div>

            </div>
        </div>
    </article>

    <article class="card">
        <div class="header-card">
            <img src="{% static '/img/U14 copia.jpg'%}" alt="">
        </div>
        <div class="footer-card">
            <div class="categoria-card">
                <span>U 014</span>
            </div>
            <div class="texto-card">
                <h3>Caja referencia U 014.</h3>
                <p>Sus medidas son 41 CM de largo, 31 CM de ancho y 24 CM de alto</p>
                <P>Precios: 1.851 Mas IVA </P>

            </div>
            <div class="perfil-card">
                
                <div class="text-perfil-card">
                    <a href="https://wa.me/573104420576?text=Hola me interesa su articulo Caja referencia U 014" class="btn btn-dark text-uppercase py-2 px-4 my-3">Haz tu orden</a>
                </div>

            </div>
        </div>
    </article>
    <article class="card">
        <div class="header-card">
            <img src="{% static 'img/z168 copia.jpg'%}" alt="">
        </div>
        <div class="footer-card">
            <div class="categoria-card">
                <span>Z 168</span>
            </div>
            <div class="texto-card">
                <h3>Caja referencia Z168.</h3>
                <p>Sus medidas son 63 CM de largo, 40 CM de ancho y 31 CM de alto</p>
                <P>Precios: 2.675 Mas IVA </P>

            </div>
            <div class="perfil-card">
                
                <div class="text-perfil-card">
                    
                     <a href="https://wa.me/573104420576?text=Hola me interesa su articulo Caja referencia Z168" class="btn btn-dark text-uppercase py-2 px-4 my-3">Haz tu orden</a>
                    
                </div>

            </div>
        </div>
    </article>
    <article class="card">
        <div class="header-card">
            <img src="{% static 'img/kp230 .jpg'%}" alt="">
        </div>
        <div class="footer-card">
            <div class="categoria-card">
                <span>KP 230</span>
            </div>
            <div class="texto-card">
                <h3>Caja referencia KP230 .</h3>
                <p>Sus medidas son 55 CM de largo, 36 CM de ancho y 24 CM de alto</p>
                <P>Precios: 1.926 Mas IVA </P>

            </div>
            <div class="perfil-card">
                
                <div class="text-perfil-card">

                    <a href="https://wa.me/573104420576?text=Hola me interesa su articulo Caja referencia KP230" class="btn btn-dark text-uppercase py-2 px-4 my-3">Haz tu orden</a>

                </div>

            </div>
        </div>
    </article>

    <article class="card">
        <div class="header-card">
            <img src="{%static 'img/reempaque.jpg'%}" alt="">
        </div>
        <div class="footer-card">
            <div class="categoria-card">
                <span>Reempaque</span>
            </div>
            <div class="texto-card">
                <h3>Caja referencia Reempaque .</h3>
                <p>Sus medidas son 58 CM de largo, 41 CM de ancho y 52 CM de alto</p>
                <P>Precios: 5.243 Mas IVA </P>
                
            </div>
            <div class="perfil-card">
                
                <div class="text-perfil-card">

                    <a href="https://wa.me/573104420576?text=Hola me interesa su articulo Caja referencia Reempaque" class="btn btn-dark text-uppercase py-2 px-4 my-3">Haz tu orden</a>

                </div>

            </div>
        </div>
    </article>

    <article class="card">
        <div class="header-card">
            <img src="{% static 'img/sp-520.jpg'%}" alt="">
        </div>
        <div class="footer-card">
            <div class="categoria-card">
                <span>SP 520</span>
            </div>
            <div class="texto-card">
                <h3>Caja referencia SP 520 .</h3>
                <p>Sus medidas son 62 CM de largo, 48 CM de ancho y 29 CM de alto</p>
                <P>Precios: 3.745 Mas IVA </P>
            </div>
            <div class="perfil-card">
                
                <div class="text-perfil-card">

                    <a href="https://wa.me/573104420576?text=Hola me interesa su articulo Caja referencia SP 520 " class="btn btn-dark text-uppercase py-2 px-4 my-3">Haz tu orden</a>

                </div>

            </div>
        </div>
    </article>

    <article class="card">
        <div class="header-card">
            <img src="{%static 'img/kp 220.jpg'%}" alt="">
        </div>
        <div class="footer-card">
            <div class="categoria-card">
                <span>KP 220</span>
            </div>
            <div class="texto-card">
                <h3>Caja referencia KP 220 .</h3>
                <p>Sus medidas son 55 CM de largo, 36 CM de ancho y 16 CM de alto</p>
                <P>Precios: 1.412 Mas IVA </P>

            </div>
            <div class="perfil-card">
                
                <div class="text-perfil-card">

                    <a href="https://wa.me/573104420576?text=Hola me interesa su articulo Caja referencia SP 520 " class="btn btn-dark text-uppercase py-2 px-4 my-3">Haz tu orden</a>

                </div>

            </div>
        </div>
    </article>

    <article class="card">
        <div class="header-card">
            <img src="{% static 'img/rollos.jpg'%}" alt="">
        </div>
        <div class="footer-card">
            <div class="categoria-card">
                <span>Rollos</span>
            </div>
            <div class="texto-card">
                <h3>Rollos de carton corrugado .</h3>
               
                <p>120 CM de Ancho Por 100 Metros de Largo </p>
                <P>Precios: 3.654 El metro. Mas IVA </P>

            </div>
            <div class="perfil-card">
                
                <div class="text-perfil-card">

                    <a href="https://wa.me/573104420576?text=Hola me interesa su articulo Rollos de carton corrugado" class="btn btn-dark text-uppercase py-2 px-4 my-3">Haz tu orden</a>

                </div>

            </div>
        </div>
    </article>

    <article class="card">
        <div class="header-card">
            <img src="{% static 'img/esquinero.jpg'%}" alt="">
        </div>
        <div class="footer-card">
            <div class="categoria-card">
                <span>Esquineros</span>
            </div>
            <div class="texto-card">
                <h3>Esquineros de carton  .</h3>
               
                <p>1,15 CM de alto por 7 X 7  </p>
                <P>Precios: 1.284 Mas IVA </P>

            </div>
            <div class="perfil-card">
                
                <div class="text-perfil-card">

                    <a href="https://wa.me/573104420576?text=Hola me interesa su articulo Esquineros de carton" class="btn btn-dark text-uppercase py-2 px-4 my-3">Haz tu orden</a>

                </div>

            </div>
        </div>
    </article>
    
</body>
{% endblock %}